.appContainer{
    height: 100vh;
    margin: 0 !important;
    background-color: #eee;
}

html{
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  *, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a{
    text-decoration: none;
  }
  
  Link{
    text-decoration: none;
  
  }

  .message__container{
    margin-left: 320px;
  }

  .media_ArrowIcon{
    display: none;
  }

  .meta__panel{
    width: 30%;
    float: right;
    margin-top: 20px;
  }

  .message__display{
    width: 35vw;
  }

  .message_form{
    padding: 10px 1em !important;
  }

  @media screen and (max-width: 800px){
    .message__container{
      display: none;
      margin-left: unset;

    }

    .media_panel{
      display: none;
    }

    .media_message{
      display: block;
      transform: translateY(28px);
    }

    .MessageHeader_input{
      display: none;
    }

    .message__display{
      width: 91vw;
    }

    .meta__panel{
      display: none;
    }

    .color__panel{
      display: none;
    }

    .media_ArrowIcon{
      display: block;
      margin-right: 20px;
    }

    .message_form{
      position: unset !important;
      margin-left: unset !important;
      transform: translateY(-5px);
    }

    .media__sidePanel_menu{
      width: 93vw !important;
    }
  }