.skeleton{
    position: relative;
    height: 40px;
    overflow: hidden;
    margin-bottom: 10px;
}

.skeleton::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    animation: sweep 2s;
    background-image: linear-gradient(
        to left,
        transparent,
        rgba(225,225,225,0.4),
        transparent
    );
}

@keyframes sweep {
    0%{
        transform: translateX(-100%);
    }

    50%{
        transform: translateX(150%);

    }

    100%{
        transform: translateX(-100%);
    }
}

.skeleton_avatar{
    height: 35px;
    width: 35px;
    border-radius: 3px;
    background-color: rgba(58,57,57,0.3)

}

.skeleton_author{
    width: 120px;
    height: 10px;
    border-radius: 3px;
    position: absolute;
    bottom: 30px;
    right: 0;
    left: 40px;
    background-color: rgba(58,57,57,0.3)

}

.skeleton_details{
    height: 20px;
    border-radius: 3px;
    position: absolute;
    bottom: 5px;
    right: 20px;
    left: 40px;
    background-color: rgba(58,57,57,0.3)
}